body{
    box-sizing: border-box;
    background: url('./images/bg.jpg');
    background-size: 100%;
    background-repeat: repeat;
    background-position: center center;
    background-attachment: fixed;
}
.react-calendar__tile:disabled{
    background-color: #d5d5d5 !important;
}
#invisible{
    transition: .2s ease-in-out;
    opacity: 0 !important;
}